doctype html
html
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet' href='static/style.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    script(src="static/script.js")
body
    div#alert
    div#bottomBar 